.container {
  width: 50%;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 50px;
}

form {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
}

hr {
  width: 10%;
  border: 1px solid #00e676;
}

input {
  border: none;
  width: 80%;
}

input:focus {
  outline: none;
}

.invitation {
  text-align: left;
  font-style: italic;
  color: gray;
}

.item {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

.item-left {
  text-align: left;
  padding-right: 80px;
  padding-left: 50px;
  border-right: 1px solid lightgray;
}
